<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Lista candidatos</title>
	<link href="/Style.css" rel="stylesheet"/>
	
	<style type="text/css">
body{
	background-color: #dddddd;
}
table {
	margin-top: 50px;
	border: 1px solid black;
	font-size: 10px;
}

caption {
	font-size: 30px;
}

.principal {
	display: flex;
	align-self: center;
	margin: 0 auto;
	width: 50%;
}

th, td {
	padding-left: 10px;
}

button{
	font-size: 0.9em;
}

</style>
</head>
<body>
	<div class="principal">
		<div>
			<a href="descargar">Descargar</a>
			
			<table class="candidatos">
				<caption>Candidatos</caption>
				<thead>
					<tr>
						<th>ID</th>
						<th>Nombre</th>
						<th>Apellido 1</th>
						<th>Localidad</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="candidato: ${candidatos}">
						<td><span th:text="${candidato.id}"></span></td>
						<td><span th:text="${candidato.nombre}"></span></td>
						<td><span th:text="${candidato.apellido1}"></span></td>
						<td><span th:text="${candidato.localidad.nombre + ' (' +candidato.localidad.provincia.nombre + ')'} "></span></td>
					</tr>

				</tbody>


			</table>
		</div>
	</div>




</body>
</html>